PROJECT_NAME=multi-source-lakehouse-pipeline
ENVIRONMENT=local
LOG_LEVEL=INFO
PIPELINE_RUN_ID=manual_local_run

API_BASE_URL=https://dummyjson.com

STORAGE_ROOT=./storage
LANDING_ROOT=./storage/landing
BRONZE_ROOT=./storage/bronze
SILVER_ROOT=./storage/silver
GOLD_ROOT=./storage/gold
CHECKPOINT_ROOT=./storage/checkpoints
LOGS_ROOT=./logs

SPARK_APP_NAME=lakehouse-local
SPARK_MASTER=local[*]
SPARK_WAREHOUSE_DIR=./storage/warehouse
SPARK_DRIVER_MEMORY=2g
SPARK_EXECUTOR_MEMORY=2g
DELTA_PACKAGE=io.delta:delta-spark_2.12:3.2.0

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=lakehouse
POSTGRES_USER=lakehouse
POSTGRES_PASSWORD=lakehouse
POSTGRES_SCHEMA=sales
